@model ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="max-w-md mx-auto">
    <form asp-action="ChangePassword" asp-controller="Account" method="post" class="mx-auto max-w-sm">
        <div asp-validation-summary="ModelOnly" class="text-red-700"> </div>
        <div class="mb-5">
            <label asp-for="CurrentPassword"  class="mb-2 text-gray-900 block text-sm font-medium dark:text-white">Current Password</label>
            <input asp-for="CurrentPassword" class="bg-gray-50 border-gray-300 text-gray-900 p-2.5 block w-full rounded-lg border text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
            <span asp-validation-for="CurrentPassword"></span>
        </div>
        <div class="mb-5">
            <label asp-for="NewPassword" class="mb-2 text-gray-900 block text-sm font-medium dark:text-white">Your password</label>
            <input asp-for="NewPassword"   class="bg-gray-50 border-gray-300 text-gray-900 p-2.5 block w-full rounded-lg border text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            <span asp-validation-for="NewPassword"></span>
        </div>
        <div class="mb-5">
            <label asp-for="ConfirmPassword"  class="mb-2 text-gray-900 block text-sm font-medium dark:text-white">Confirm password</label>
            <input asp-for="ConfirmPassword"   class="bg-gray-50 border-gray-300 text-gray-900 p-2.5 block w-full rounded-lg border text-sm focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>
       
       
        <button type="submit" value="Login" class="text-white bg-blue-700 px-5 py-2.5 w-full rounded-lg text-center text-sm font-medium hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 sm:w-auto dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
       
    </form>

    <script>
        // You can check for a specific TempData key or ModelState error to trigger the toastr message.
        @if (TempData["Success"] != null)
        {
            <text>
                    toastr.success('@TempData["Success"]', 'Success', {timeOut: 5000 });
            </text>
        }

        @if (TempData["Error"] != null)
        {
            <text>
                    toastr.error('@TempData["Error"]', 'Error', {timeOut: 5000 });
            </text>
        }
    </script>
</div>